<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="robots.txt" name="robots">
    <link href="manifest.json" rel="manifest">
    <title>react-web-app</title>
    <script>
        window.APP_ENV = "${APP_ENV}";
        window.APP_VERSION = "${APP_VERSION}";
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>